:root {
  --viz-corB: #1b1b1b;
  --viz-corA: #1a1917;
  --lightgrey: #e2e2e2;
  --darkgrey: #979797;
  --hover--icon: #504c39;
  --all-dark: #474229;

  --md-bg: #000000;
  --md-fg: white;
  --md-h1: #e2e2e2;
  --md-mark: #979797;
  --md-highlight: #997faa;
}
