:root {
  --viz-corB: #1b1b1b;
  --viz-corA: #1a1917;
  --lightgrey: #e2e2e2;
  --darkgrey: #979797;
  --hover--icon: #c1c9e5;
  --all-dark: #474229;

  --md-bg: #000000;
  --md-fg: #adadad;
  --md-h1: #e2e2e2;
  --md-mark: #ffffff;
  --md-highlight: #948d99;
}

.celulaindividual {
  border-left: 1px dashed #ffffff22;
}
