html,
body {
    background-color: #544DDF;
}

:root {

    --bg-color: #544DDF;
    --text-color: white;
    --detail-link: #aaaaaa;
    --card-link: #5e77db;
    --card-link-hover: #7271bb;
    --ultra-detail-link: white;
    --yearlinemark: #bcb9f5;
    --linemark: #8c86fa;

}

.headcolor {
    background-color: #5e77db !important;
}

.pncupcleancut {
    background-color: #544DDF !important;
}