 :root {
     --viz-corB: #615ae8;
     --viz-corA: #534dc6;
     --lightgrey: #bcb9f5;
     --darkgrey: #706ed8;
     --hover--icon: #dddddf;
     --all-dark: #c7c7c7;

     --md-bg: #544DDF;
     --md-fg: white;
     --md-h1: #e5e4f9;
     --md-mark: #aaaaaa;
     --md-highlight: #13d9fc;

 }